/* $Id: default.css,v 1.1.1.1 2004-08-11 18:51:04 sdalu Exp $
 *
 * CONTACT     : http://www.dnsdoctor.org/
 * AUTHOR      : Stephane D'Alu <sdalu@sdalu.com>
 *
 * CREATED     : 2002/08/02 13:58:17
 * REVISION    : $Revision: 1.1.1.1 $ 
 * DATE        : $Date: 2004-08-11 18:51:04 $
 *
 * CONTRIBUTORS: (see also CREDITS file)
 *
 * LICENSE     : GPL v2
 * COPYRIGHT   : Stephane D'Alu (c) 2004
 *
 * This file is part of DNSdoctor.
 *
 * DNSdoctor is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * DNSdoctor is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with DNSdoctor; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 *
 */


h1 { 
	color:			#15810a;
}

h2 { 
	color:  #25581f;
	border-bottom: solid 1px #429c39;
}


a { 
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
}


/*
 * Lang
 */
div.lang {
	float:			right;
	overflow:		visible;
	font-size:		85%;
	text-align:		left;
	background-color:	#dddddd;
	margin:			0.7ex;
	padding:		3px 1ex;
	border:			double white;
	-moz-border-radius:	7px;
}
div.lang a {
	color:			black;
	text-decoration:	none;
	font-weight:		normal;
	cursor:			help;
}
div.lang a:hover { 
	background-color:	#eeeeee;
}

div.lang a#current {
	color:			#07568d;
	font-weight:		bold;
}
div.lang abbr {
	border-style:		none;
}

