/* $Id: dnsdoctor.css,v 1.1.1.1 2004-08-11 18:51:04 sdalu Exp $
 *
 * CONTACT     : http://www.dnsdoctor.org/
 * AUTHOR      : Stephane D'Alu <sdalu@sdalu.com>
 *
 * CREATED     : 2002/08/02 13:58:17
 * REVISION    : $Revision: 1.1.1.1 $ 
 * DATE        : $Date: 2004-08-11 18:51:04 $
 *
 * CONTRIBUTORS: (see also CREDITS file)
 *
 * LICENSE     : GPL v2
 * COPYRIGHT   : Stephane D'Alu (c) 2004
 *
 * This file is part of DNSdoctor.
 *
 * DNSdoctor is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * DNSdoctor is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with DNSdoctor; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 *
 */



/* Form and options
 */
form.ddoc-form fieldset {
	border:			3px double #c0d2de;
	padding:		2px;
	margin-top:		0.5ex;
	margin-bottom:		1.5ex;
}

form.ddoc-form fieldset input {
	border:			2px solid #c0d2de;
}


form.ddoc-form legend {
	width:			300px;
	padding:		2px 1ex;
	background-color:	#c0d2de;
	border:			double 2px #ffffff;
	-moz-border-radius:	7px;
	text-align:		center;
}

form.ddoc-form fieldset.ddoc-options td { 
	width:			30ex;

}



/* Logo
 */
img.ddoc-logo { 
	float:			right;
	margin-left:		0;
}



/* Generic classes
 */
.ddoc-warning { 
	padding-left:		1ex;
	background-color:	#eff3f6;
	border-left:		solid #25581f;
}

.ddoc-error {
	padding:		5px 5px 5px 5px; 
	background-color:	#f0ece5;
	border-left:		solid #ff5809;
}



/* Progress bar
 */
div#ddoc-pgr-pbar { 
	margin-left:		5ex;
}

table#ddoc-pgr-pbar-out { 
	border:			1px solid black;
	-moz-border-radius:	10px;
}

table#ddoc-pgr-pbar-in { 
	margin:			5px;
}

#ddoc-pgr-pct0 { 
	border-color:		black;
}

#ddoc-pgr-pct1 { 
	background-color:	#123456;
	border-color:		black;
}

#ddoc-pgr-pct2 { 
	border-color:		black;
}



/*
 */
UL.ddoc-test { 
	padding-left:		5ex;
	list-style-type:	none;
}

/* The diagnostic box
 */
div.ddoc-diag { 
	padding-left:		5ex;
}

div.ddoc-diag div.ddoc-name { 
	font-size:		12px;
	color:			#333333; 
	font-weight:		bold;
}

div.ddoc-diag div.ddoc-msg { 
	color:			#0471be;
	font-weight:		bold;
}


div.ddoc-diag1 table tr.ddoc-title { 
	background-color:	#ddeeee;
}


div.ddoc-status { 
	padding-left:		5ex;
	font-weight:		bold;
}


h3.ddoc-diagsec { 
	color:			red;
	font-variant:		small-caps;
}
h3.ddoc-diagsec:before {
	content: "---- ";
}
h3.ddoc-diagsec:after {
	content: " ----";
}

ul.ddoc-ref { 
        font-family:		sans-serif;
	font-size:		12px;
	margin-left:		2ex;
	margin-right:		150px;
	background-color:	#ecf3f8;

	padding:		8px 8px 8px 2em; 

	border:			2px solid #15810a;
	-moz-border-radius:	10px;
}

ul.ddoc-ref p { 
	margin:			0;
}

span.ddoc-ref { 
	font-weight:		bold;
}

span.ddoc-ref a { 
	color:			inherit;
	text-decoration:	none;
}

span.ddoc-ref a:hover { 
	color:			inherit;
	text-decoration:	underline;
}

ul.ddoc-details { 
        font-family:		sans-serif;
	font-size:		12px;
	margin-left:		2ex;
	margin-right:		150px;
	background-color:	#ecf3f8;

	padding:		8px 8px 8px 2em; 

	border:			2px solid #15810a;
	-moz-border-radius:	10px;
}

ul.ddoc-details p { 
	margin:			0;
}

div.ddoc-zinfo {
	padding-left:		5ex;
}


/* Zone information
 */
table.ddoc-domain {
	border-collapse:	collapse;
	-moz-border-radius:	10px;
	width:			80%;
	border:			solid #15810a;
}

table.ddoc-domain td {
	vertical-align:		top;
	padding:		5px;
/*	border-color:		#0066b2; */
}

tr.ddoc-zone { 
	background-color:	#c0d2de;
	font-weight:		bold;
}

tr.ddoc-ns-sec { 
/*	background-color:	#f0ece5; */
}

tr.ddoc-ns-prim { 
/*	background-color:	#e4dcca; */
}



/* Help
 */
table.ddoc-help { 
	border:			solid #333333;
	border-collapse:	collapse; 
}

table.ddoc-help td { 
	vertical-align:		top;
	border-color:		#333333;
}

table.ddoc-help th {
	text-align:		left;
	background-color:	#c0d2de; /* 9fcf9a */
	border-top:		solid;
	font-style:		italic;
}


/* Popups
 */
table.ddoc-popup { 
	background-color:	#f0ece5;
	color:			#333333;
	border:			3px groove #1341af;
	border-collapse:	collapse; 
}

table.ddoc-popup tr.ddoc-title { 
	background-color:	#1341af;
}

table.ddoc-popup tr.ddoc-title td { 
	color:			#f5b13d;
}

table.ddoc-popup tr.ddoc-title td.ddoc-title { 
	font-weight:		bold;
}

table.ddoc-popup tr.ddoc-title a { 
	color:			#f5b13d;
	font-weight:		bold;
	text-decoration:	none; 
}

table.ddoc-popup tr.ddoc-title a:hover { 
	color:			#ff5809;
}

table.ddoc-popup tr.ddoc-item:hover { 
	background-color:	#e4dcca;
	cursor:			pointer;
}

/* Footer
 */
.ddoc-footer { 
	font-size:		smaller;
	color:			grey;
}
